@font-face {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("../assets/fonts/DMSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(""),
    url("../assets/fonts/DMSans-Bold.woff2") format("woff2");
}
