/* ------------------------------------------------------------------
 * variables.scss — Design tokens (CSS custom properties)
 * ------------------------------------------------------------------ */
 @use "./utilities" as *;

:root {
  /* Colors */
  --color-dark: #090911;
  --color-light: #FDFDF4;

  --color-accent: #c8a96e;
  --color-accent-hover: #dbbc82;

  /* Spacing (base 4) */
  --space-4: #{pxToRem(4)};
  --space-8: #{pxToRem(8)};
  --space-16: #{pxToRem(16)};
  --space-24: #{pxToRem(24)};
  --space-32: #{pxToRem(32)};
  --space-48: #{pxToRem(48)};
  --space-64: #{pxToRem(64)};
  --space-128: #{pxToRem(128)};


  /* Font sizes (in rem, base = 16px) */
  --font-size-base: 16px;
  --font-size-s: #{pxToRem(14)};
  --font-size-m: var(--font-size-base);
  --font-size-l: #{pxToRem(20)};
  --font-size-xl: #{pxToRem(24)};
  --font-size-xxl: #{pxToRem(32)};
  --font-size-xxl: #{pxToRem(48)};

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Font family */
  --font-family-sans: "DM Sans", sans-serif;

  /* Transition */
  --ease-time: 150ms;
  --ease-function: ease-in-out;

  /* Radius */
  --radius-16: #{pxToRem(16)};

  --layout-max-width: #{pxToRem(1400)};
  --color-font: var(--color-dark);
  --color-background: var(--color-light);
  --body-row-gap: var(--space-64);
  --body-col-gap: var(--space-24);
  --exp-row-gap: var(--space-48);
  --title-end: var(--space-32);

  @include from(big-mobile) {
    --body-row-gap: var(--space-128);
    --exp-row-gap: var(--space-64);
  }

  @include print {
    --font-size-base: 12px;
    --body-row-gap: #{pxToRem(16)};
    --body-col-gap: var(--space-32);
    --color-background: transparent;
    --color-font: black;
  }
}

@media screen {
  [data-theme="dark"] {
    --color-font: var(--color-light);
    --color-background: var(--color-dark);
  }
}
